[Desktop Entry]
Name=Gost
GenericName=Academic Essay Templater
Comment=Generate LaTeX and Typst templates for academic essays
Exec=/usr/local/bin/gost
Icon=ca.calstfrancis.Gost
Terminal=false
Type=Application
Categories=Education;Office;
Keywords=latex;tex;typst;essay;academic;bibliography;sbl;chicago;apa;mla;
StartupNotify=true
StartupWMClass=ca.calstfrancis.Gost
