[Desktop Entry]
Name=Gost
GenericName=Academic Essay Templater
Comment=Generate LaTeX and Typst templates for academic essays (SBL, Chicago, MLA, APA, ASA, Turabian, Harvard)
Exec=gost
Icon=ca.calstfrancis.Gost
Terminal=false
Type=Application
Categories=Education;Office;
Keywords=latex;tex;typst;essay;academic;bibliography;sbl;chicago;apa;mla;asa;turabian;harvard;sociology;theology;humanities;
StartupNotify=true
StartupWMClass=ca.calstfrancis.Gost
X-AppImage-Name=Gost
X-AppImage-Version=0.1.4
X-AppImage-Arch=x86_64
